/* src/Components/Profile/profile.css */

.profile-page {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f7f7f7;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.profile-icon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.profile-icon {
    width: 100px; /* Adjust size as needed */
    height: 100px; /* Adjust size as needed */
    border-radius: 50%;
    background-color: #f0f0f0; /* Background color for the icon */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 60px; /* Adjust icon size */
    color: #333; /* Icon color */
}

.user-name {
    margin-top: 10px;
    font-size: 18px; /* Adjust font size as needed */
    font-weight: bold;
    color: #333; /* Color for the username */
}

.profile-details {
    display: inline-block;
    text-align: left;
    margin-top: 20px;
}

.profile-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.profile-item p {
    margin-left: 20px;
}

.edit-icon {
    color: #007bff;
    cursor: pointer;
    margin-left: 10px;
}

.edit-icon:hover {
    color: #0056b3;
}

h2, h3 {
    color: #333;
    margin-bottom: 20px;
}
